@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
	margin: 0;
	padding: 0;
}

#grid {
	position: relative;
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(10, 200px);
	gap: 10px
}

#grid .col {
	position: relative;
	width: 100%;
	height: 100%;
	background: #000;
	overflow: hidden;
	border-radius: 10px;
}

.etl-wrapper {
	position: relative;
	width: 100%;
	height: 400px;
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
  justify-content: flex-start;
	background: #212529;
	border-radius: 10px;
	overflow: hidden;
	box-sizing: border-box;
	font-family: "Inter", serif
}

.etl-wrapper * {
	box-sizing: border-box;
}

.etl-navigation-wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	flex: 0 0 50px;
}

.etl-navigation-item {
	position: relative;
	width: 30px;
	height: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.etl-navigation-item span {
	position: relative;
	width: 10px;
	height: 10px;
	display: block;
	border-radius: 50%;
	box-shadow: inset 0 0 0 1px #ADB5BD;
}

.etl-navigation-item:hover span {
	transform: scale(1.5);
}

.etl-navigation-item.current span {
	box-shadow: inset 0 0 0 5px #ADB5BD;
}

.etl-timeline-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	flex: 1 1 auto;
}

.etl-timeline-period {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  flex-direction: row;
  z-index: 1;
}

.etl-timeline-period.current {
	display: flex;
}

.etl-timeline-aside {
  position: relative;
  height: 100%;
  aspect-ratio: 1;
  background: green;
}

.etl-timeline-image {
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.etl-timeline-body {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
}

.etl-timeline-date {
  font-size: 20px;
  font-weight: 900;
  line-height: 20px;
  color: #6C757D;
}

.etl-timeline-heading {
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  color: #E9ECEF;
}

.etl-timeline-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #ADB5BD;
}

.etl-timeline-link {
  position: relative;
	align-self: flex-end;
  margin-top: 5px;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #E9ECEF;
  background: #495057;
  text-decoration: none;
  border-radius: 5px;
}

.etl-timeline-period-opener-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	z-index: 3;
	pointer-events: none;
	perspective: 1000px;
	transform-style: preserve-3d;
}

.etl-timeline-period-opener-date {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.etl-timeline-period-opener-date-char {
	font-size: 60px;
	line-height: 70px;
	font-weight: 900;
	color: #F8F9FA;
	white-space: pre;
}

/* Layout */
.etl-navigation-position-top,
.etl-navigation-position-bottom {
	flex-direction: column;
}

.etl-navigation-position-right,
.etl-navigation-position-left {
	flex-direction: row;
}

.etl-navigation-position-top .etl-navigation-wrapper,
.etl-navigation-position-bottom .etl-navigation-wrapper {
	flex-direction: row;
	width: 100%;
}

.etl-navigation-position-right .etl-navigation-wrapper,
.etl-navigation-position-left .etl-navigation-wrapper {
	flex-direction: column;
	height: 100%;
}

.etl-navigation-position-top .etl-navigation-wrapper,
.etl-navigation-position-left .etl-navigation-wrapper {
	order: 1;
}

.etl-navigation-position-bottom .etl-navigation-wrapper,
.etl-navigation-position-right .etl-navigation-wrapper {
	order: 2;
}

.etl-navigation-position-top .etl-timeline-wrapper,
.etl-navigation-position-bottom .etl-timeline-wrapper{
	height: calc(100% - 50px);
}

.etl-navigation-position-right .etl-timeline-wrapper,
.etl-navigation-position-left .etl-timeline-wrapper  {
	width: calc(100% - 50px);
}

.etl-navigation-position-top .etl-timeline-wrapper,
.etl-navigation-position-left .etl-timeline-wrapper {
	order: 2;
}

.etl-navigation-position-right .etl-timeline-wrapper,
.etl-navigation-position-bottom .etl-timeline-wrapper {
	order: 1;
}

.etl-navigation-position-top .etl-timeline-body {
  padding-top: 0;
}

.etl-navigation-position-right .etl-timeline-body {
  padding-right: 0;
}

.etl-navigation-position-bottom .etl-timeline-body {
	padding-bottom: 0;
}

.etl-navigation-position-left .etl-timeline-body {
	padding-left: 0;
}


/* Opener Date Animation */

.etl-timeline-period-opener-date {
	--animation-duration: 1s;
}

.etl-timeline-period-opener-date-char {
	--char-index: 1;
	--char-random-value: 1;
	--char-delay-offset: 25ms;
	--char-animation-delay: calc(var(--char-delay-offset) * var(--char-index));
}

/* IN */

/* Zoom Out */
.etl-opener-animation-in-zoom-out .etl-timeline-period-opener-date {
	animation: etl-opener-animation-in-zoom-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite,
						 etl-opener-animation-in-fade-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
	transform: scale(2);
	opacity: 0;
}

@keyframes etl-opener-animation-in-zoom-out {
	0% {
		transform: scale(2);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes etl-opener-animation-in-fade-out {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* Zoom Out & Letter Spacing Inside */
.etl-opener-animation-in-zoom-out-letter-spacing-inside .etl-timeline-period-opener-date {
	animation: etl-opener-animation-in-zoom-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite,
						 etl-opener-animation-in-fade-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite,
						 etl-opener-animation-in-letter-spacing-inside var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
	transform: scale(2);
	opacity: 0;
	gap: 20px;
}

@keyframes etl-opener-animation-in-letter-spacing-inside {
	0% {
		gap: 20px;
	}
	100% {
		gap: 0px;
	}
}

/* Zoom Out & Letter Fly Up/Down */
.etl-opener-animation-in-zoom-out-letter-fly-up .etl-timeline-period-opener-date,
.etl-opener-animation-in-zoom-out-letter-fly-down .etl-timeline-period-opener-date {
	animation: etl-opener-animation-in-zoom-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
	transform: scale(2);
	overflow: hidden;
}

.etl-opener-animation-in-zoom-out-letter-fly-up .etl-timeline-period-opener-date-char {
	animation: etl-opener-animation-in-fly-up var(--animation-duration) var(--char-animation-delay) cubic-bezier(.5, 0, 0, 1) infinite;
	transform: translateY(100%);
}

@keyframes etl-opener-animation-in-fly-up {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0%);
	}
}

.etl-opener-animation-in-zoom-out-letter-fly-down .etl-timeline-period-opener-date-char {
	animation: etl-opener-animation-in-fly-down var(--animation-duration) var(--char-animation-delay) cubic-bezier(.5, 0, 0, 1) infinite;
	transform: translateY(-100%);
}

@keyframes etl-opener-animation-in-fly-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0%);
	}
}

/* Zoom Out & Letter Rotate */
.etl-opener-animation-in-zoom-out-letter-rotate .etl-timeline-period-opener-date {
	animation: etl-opener-animation-in-zoom-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
	perspective: 1000px;
	transform: scale(2);
}

.etl-opener-animation-in-zoom-out-letter-rotate .etl-timeline-period-opener-date-char {
	animation: etl-opener-animation-in-zoom-out-letter-rotate var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite,
						 etl-opener-animation-in-fade-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
	transform: rotateY(90deg);
}

@keyframes etl-opener-animation-in-zoom-out-letter-rotate {
	0% {
		transform: rotateY(90deg);
	}
	100% {
		transform: rotateY(0deg);
	}
}

/* Zoom Out & Letter Paralax */
.etl-opener-animation-in-zoom-out-letter-paralax .etl-timeline-period-opener-date {
	animation: etl-opener-animation-in-zoom-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
	perspective: 1000px;
	transform: scale(2);
	
}

.etl-opener-animation-in-zoom-out-letter-paralax .etl-timeline-period-opener-date-char {
	animation: etl-opener-animation-in-zoom-out-letter-paralax var(--animation-duration) cubic-bezier(.5, 0, 0, 1) var(--char-animation-delay) infinite,
						 etl-opener-animation-in-fade-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) var(--char-animation-delay) infinite;
	opacity: 0;
	transform: translateZ(500px);
}

@keyframes etl-opener-animation-in-zoom-out-letter-paralax {
	0% {
		transform: translateZ(500px);
	}
	100% {
		transform: translateZ(0px);
	}
}

/* Zoom Out & Letter Random Paralax */
.etl-opener-animation-in-zoom-out-letter-random-paralax .etl-timeline-period-opener-date {
	animation: etl-opener-animation-in-zoom-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
	perspective: 1000px;
	transform: scale(2);
	
}

.etl-opener-animation-in-zoom-out-letter-random-paralax .etl-timeline-period-opener-date-char {
	animation: etl-opener-animation-in-zoom-out-letter-random-paralax var(--animation-duration) cubic-bezier(.5, 0, 0, 1) var(--char-animation-delay) infinite,
						 etl-opener-animation-in-fade-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) var(--char-animation-delay) infinite;
	opacity: 0;
	transform: translateZ(calc(100px * var(--char-random-value)));
}

@keyframes etl-opener-animation-in-zoom-out-letter-random-paralax {
	0% {
		transform: translateZ(calc(100px * var(--char-random-value)));
	}
	100% {
		transform: translateZ(0px);
	}
}


/* Zoom Out & Blur */
.etl-opener-animation-in-zoom-out-blur .etl-timeline-period-opener-date {
	animation: etl-opener-animation-in-zoom-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite,
						 etl-opener-animation-in-zoom-out-blur var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite,
						 etl-opener-animation-in-fade-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;

	opacity: 0;
	filter: blur(20px);
	transform: scale(2);
}

@keyframes etl-opener-animation-in-zoom-out-blur {
	0% {
		filter: blur(50px);
	}
	100% {
		filter: blur(0px);
	}
}


/* Zoom Out & Letter Random Blur */
.etl-opener-animation-in-zoom-out-letter-blur .etl-timeline-period-opener-date {
	animation: etl-opener-animation-in-zoom-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
	perspective: 1000px;
	transform: scale(2);
}

.etl-opener-animation-in-zoom-out-letter-blur .etl-timeline-period-opener-date-char {
	animation: etl-opener-animation-in-zoom-out-letter-blur var(--animation-duration) cubic-bezier(.5, 0, 0, 1) var(--char-animation-delay) infinite,
						 etl-opener-animation-in-fade-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) var(--char-animation-delay) infinite;
	opacity: 0;
	filter: blur(10px);
	--char-random-value: 1;
}

@keyframes etl-opener-animation-in-zoom-out-letter-blur {
	0% {
		filter: blur(10px);
	}
	100% {
		filter: blur(0px);
	}
}

/* Zoom Out & Letter Random Blur */
.etl-opener-animation-in-zoom-out-letter-random-blur .etl-timeline-period-opener-date {
	animation: etl-opener-animation-in-zoom-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
	perspective: 1000px;
	transform: scale(2);
}

.etl-opener-animation-in-zoom-out-letter-random-blur .etl-timeline-period-opener-date-char {
	--char-animation-delay: calc(25ms * var(--char-random-value));
	animation: etl-opener-animation-in-zoom-out-letter-blur var(--animation-duration) cubic-bezier(.5, 0, 0, 1) var(--char-animation-delay) infinite,
						 etl-opener-animation-in-fade-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) var(--char-animation-delay) infinite;
	opacity: 0;
	filter: blur(10px);
	--char-random-value: 1;
}

/* Zoom Out & Letter Random paralax Blur */
.etl-opener-animation-in-zoom-out-letter-random-paralax-blur .etl-timeline-period-opener-date {
	animation: etl-opener-animation-in-zoom-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
	perspective: 1000px;
	transform: scale(2);
}

.etl-opener-animation-in-zoom-out-letter-random-paralax-blur .etl-timeline-period-opener-date-char {
	--char-animation-delay: calc(25ms * var(--char-random-value));
	animation: etl-opener-animation-in-zoom-out-letter-blur var(--animation-duration) cubic-bezier(.5, 0, 0, 1) var(--char-animation-delay) infinite,
						 etl-opener-animation-in-zoom-out-letter-random-paralax var(--animation-duration) cubic-bezier(.5, 0, 0, 1) var(--char-animation-delay) infinite,
						 etl-opener-animation-in-fade-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) var(--char-animation-delay) infinite;
	opacity: 0;
	filter: blur(10px);
	transform: translateZ(calc(100px * var(--char-random-value)));
}











/* Letter Fly Up/Down */
.etl-opener-animation-in-letter-fly-up .etl-timeline-period-opener-date,
.etl-opener-animation-in-letter-fly-down .etl-timeline-period-opener-date {
	overflow: hidden;
}
.etl-opener-animation-in-letter-fly-up .etl-timeline-period-opener-date-char {
	animation: etl-opener-animation-in-fly-up var(--animation-duration) var(--char-animation-delay) cubic-bezier(.5, 0, 0, 1) infinite;
	transform: translateY(100%);
}

.etl-opener-animation-in-letter-fly-down .etl-timeline-period-opener-date-char {
	animation: etl-opener-animation-in-fly-down var(--animation-duration) var(--char-animation-delay) cubic-bezier(.5, 0, 0, 1) infinite;
	transform: translateY(-100%);
}

/* Letter Rotate */
.etl-opener-animation-in-letter-rotate .etl-timeline-period-opener-date {
	perspective: 1000px;
}

.etl-opener-animation-in-letter-rotate .etl-timeline-period-opener-date-char {
	animation: etl-opener-animation-in-zoom-out-letter-rotate var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite,
						 etl-opener-animation-in-fade-out var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
	transform: rotateY(90deg);
}









/* Zoom In */
.etl-opener-animation-in-zoom-in .etl-timeline-period-opener-date {
	animation: etl-opener-animation-in-zoom-in var(--animation-duration) cubic-bezier(.5, 0, 0, 1) infinite;
}

@keyframes etl-opener-animation-in-zoom-in {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}